# Copy this file to .env and set the deployed backend URL
# Example:
# REACT_APP_API_URL=https://bellcorp-event-assignment.onrender.com

REACT_APP_API_URL=https://bellcorp-event-assignment.onrender.com
